@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --main-color: #8e44ad;
    --red: #e74c3c;
    --orangen: #f39c12;
    --white: #fff;
    --black: #2c3e50;
    --light-color: #888;
    --light-bg: #eee;
    --border: .1rem solid rgba(0, 0, 0, .2);

}

* {
    font-family: "Nunito", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

*::selection {
    background-color: var(--main-color);
    color: #fff;
}

*::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    /*padding-bottom: 9rem;*/
    background-color: var(--light-bg);
    padding-left: 30rem;
}

body.active {
    padding-left: 0;
}

section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.heading{
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
    border-bottom: var(--border);
}

.message{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1200;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: .5rem;
}

.message.form{
    top: 2rem;
    background-color: var(--white);

}

.message span{
    font-size: 2rem;
    color: var(--black);
}

.message i{
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--red);
    transition: .2s linear;
}

.message i:hover{
    transform: rotate(90deg);
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn {
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn {
    display: inline-block;
}

.btn,
.option-btn,
.delete-btn {
    display: block;
    width: 100%;
}

.btn,
.inline-btn {
    background-color: var(--main-color);
}

.option-btn,
.inline-option-btn {
    background-color: var(--orangen);
}

.delete-btn,
.inline-delete-btn {
    background-color: var(--red);
}

.flex-btn {
    display: flex;
    gap: 1rem;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-bottom: var(--border);
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo {
    font-size: 2.5rem;
    color: var(--black);
}

.header .flex .search-form {
    width: 50rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 1.5rem 2.5rem;
    display: flex;
    gap: 2rem;
}

.header .flex .search-form input {
    background: none;
    width: 100%;
    font-size: 1.8rem;
    color: var(--black);
}

.header .flex .search-form button {
    background: none;
    font-size: 2rem;
    cursor: pointer;
}

.header .flex .search-form button:hover {
    color: var(--main-color);
}

.header .flex .icons div {
    margin-left: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.4rem;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    background-color: var(--light-bg);
    border-radius: .5rem;
    text-align: center;
}

.header .flex .icons div:hover {
    background-color: var(--black);
    color: var(--white);
}

#search-btn {
    display: none;
}

.header .flex .profile {
    position: absolute;
    top: 120%;
    right: 2rem;
    background-color: var(--white);
    padding: 1.5rem;
    text-align: center;
    border-radius: .5rem;
    width: 30rem;
    overflow-x: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: .2s linear;
}

.header .flex .profile.active {
    transform: scale(1);
}

.header .flex .profile h3 {
    margin-bottom: .5rem;
    font-size: 2rem;
    color: var(--black);
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.header .flex .profile img {
    margin-bottom: .5rem;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.header .flex .profile span {
    font-size: 1.5rem;
    color: var(--light-color);
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30rem;
    background-color: var(--white);
    border-right: var(--border);
    z-index: 1200;
}

.side-bar.active {
    left: -30rem;
}

.side-bar .profile {
    padding: 3rem 2rem;
    text-align: center;
}

.side-bar .profile h3 {
    margin-bottom: .5rem;
    font-size: 2rem;
    color: var(--black);
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.side-bar .profile img {
    margin-bottom: .5rem;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.side-bar .profile span {
    font-size: 1.5rem;
    color: var(--light-color);
}

.side-bar .navbar a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    margin: 1rem 0;
}

.side-bar .navbar a i {
    margin-right: 1.5rem;
    color: var(--main-color);
    transition: .2s linear;
}

.side-bar .navbar a span {
    color: var(--light-color);
}

.side-bar .navbar a:hover i {
    margin-right: 2.5rem;
}

.side-bar .navbar a:hover {
    background-color: var(--light-bg);
}

.side-bar #close-bar {
    text-align: right;
    padding: 2rem;
    padding-bottom: 0;
    display: none;
}

.side-bar #close-bar i {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.4rem;
    color: #fff;
    background-color: var(--red);
    cursor: pointer;
    border-radius: .5rem;
    font-size: 2rem;
    text-align: center;
}

.dashboard .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.dashboard .box-container .box{
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.5rem;
    text-align: center;
}

.dashboard .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: .5rem;
}

.dashboard .box-container .box p{
    margin: 1rem 0;
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--light-bg);
    font-size: 2rem;
    color: var(--light-color);
}

.form-container{
    min-height: calc(100vh - 10rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container form{
    width: 80rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
}

.form-container form h3{
    font-size: 2.5rem;
    text-align: center;
    color: var(--black);
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.form-container form .flex{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.form-container form .flex .col{
    flex: 1 1 35rem;
}

.form-container form p{
    padding-top: 1rem;
    font-size: 1.7rem;
    color: var(--light-color);
}

.form-container form p span{
    color: var(--red);
}

.form-container form .box{
    width: 100%;
    border-radius: .5rem;
    margin: 1rem 0;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    background-color: var(--light-bg);
}

.form-container form.lofin{
    width: 50rem;
}

.form-container form .link{
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;

}

.form-container form .link a{
    color: var(--main-color);
}

.form-container form .link a:hover{
    text-decoration: underline;
}





































.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    z-index: 1000;
    border-top: var(--border);
    font-size: 2rem;
    padding: 2.5rem 2rem;
    text-align: center;
    padding-left: 30rem;
}

.footer.active {
    padding-left: 2rem;
}

.footer span {
    color: var(--main-color);
}
































@media (max-width:1200px) {

    body {
        padding-left: 0;
    }

    .side-bar {
        left: -30rem;
        transition: .2s linear;
    }

    .footer {
        padding-left: 2rem;
    }

    .side-bar.active {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .7);
    }

    .side-bar #close-bar{
        display: block;
    }

}

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

}

@media (max-width:768px) {

    #search-btn {
        display: inline-block;
    }

    .header .flex .search-form {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .header .flex .search-form.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

}